<nav class="navbar bg-base-100">
    <div class="container mx-auto flex justify-between items-center">
        <a class="btn btn-ghost normal-case text-xl text-white" href="#">AI Job Tracker</a>
        <div class="hidden md:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a class="text-white" href="#">Log In</a></li>
                <li><a class="btn btn-primary" href="/sign-in">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>
